---
import InnerCard from '@atoms/InnerCard.astro';
export interface Props {
	title: string;
	key: string;
	image?: string;
	id: number;
}

const { title, key, image, id } = Astro.props;
---
	
<li class="link-card" tabindex={id}>
	<div class="modal">
		<InnerCard title={title} image={image} key={key} closeButton />
	</div>
	<div class="content">
		<InnerCard title={title} image={image} key={key} />
	</div>
</li>

